{% extends "base.html" %}

{% load static %}

{% block scripts %}
    <script src="{% static 'posts/detail.js' %}" defer></script>
    
{% endblock scripts %}

{% block title %}
{{obj.title}} detail
{% endblock title %}

{% block content %}
{{ obj.title }}
<hr>
{{obj.body}}
<br>

    <button id="back-btn" class="btn btn-info">Back</button>
    <button id="update-btn" class="btn btn-primary">Update</button>
    <button id="delete-btn" class="btn btn-danger">Delete</button>
    <div id="spinner-box" class="text-center">
        <div class="spinner-border" role="status"></div>
    </div>
    <div class="mt-1" id="post-box"></div>
{% endblock content%}
